<a href="https://colab.research.google.com/github/reubence/NLP-COURSEWORK/blob/master/Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**NLP Lecture 5 (19-12-19):** Applying Naive Bayes on UCI Credit card dataset

In [0]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split as tts
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report

In [2]:
from google.colab import files
upload = files.upload()

Saving UCI_Credit_Card.csv to UCI_Credit_Card.csv

In [0]:
credit = pd.read_csv("UCI_Credit_Card.csv")

In [4]:
credit.head()

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0   1    20000.0    2  ...       0.0       0.0                           1
1   2   120000.0    2  ...       0.0    2000.0                           1
2   3    90000.0    2  ...    1000.0    5000.0                           0
3   4    50000.0    2  ...    1069.0    1000.0                           0
4   5    50000.0    1  ...     689.0     679.0                           0

[5 rows x 25 columns]

In [5]:
credit.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [0]:
credit.drop(["ID"],1,inplace=True)

In [7]:
credit.describe()

            LIMIT_BAL           SEX  ...       PAY_AMT6  default.payment.next.month
count    30000.000000  30000.000000  ...   30000.000000                30000.000000
mean    167484.322667      1.603733  ...    5215.502567                    0.221200
std     129747.661567      0.489129  ...   17777.465775                    0.415062
min      10000.000000      1.000000  ...       0.000000                    0.000000
25%      50000.000000      1.000000  ...     117.750000                    0.000000
50%     140000.000000      2.000000  ...    1500.000000                    0.000000
75%     240000.000000      2.000000  ...    4000.000000                    0.000000
max    1000000.000000      2.000000  ...  528666.000000                    1.000000

[8 rows x 24 columns]

In [0]:
X = credit.drop(["default.payment.next.month"],1)
Y = credit["default.payment.next.month"]

In [0]:
X_train, X_test, Y_train, Y_test = tts(X,Y,test_size = 0.25,random_state=42)

In [0]:
model = GaussianNB()

In [11]:
model.fit(X_train,Y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [0]:
Y_pred = model.predict(X_test)

In [13]:
print(classification_report(Y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.88      0.24      0.38      5873
           1       0.24      0.89      0.38      1627

    accuracy                           0.38      7500
   macro avg       0.56      0.56      0.38      7500
weighted avg       0.75      0.38      0.38      7500