<a href="https://colab.research.google.com/github/reubence/NLP-COURSEWORK/blob/master/Not_B_or_G_Regex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lecture 2: Using regex to find characters from strings. Not starting/ending with B/G or starting with B/G**

In [0]:
import pandas as pd
import gzip
import re

**Reading Dataset from link**

In [0]:
df = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz",lines=True)

**Viewing dataset to get an idea**

In [5]:
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

**Creating a new dataframe of the columns that we need to extract word count dictionary from**

In [0]:
df2 = df[['reviewText','summary']]

In [7]:
df2.head()

                                          reviewText                                            summary
0  I bought my first HP12C in about 1984 or so, a...            A solid performer, and long time friend
1  WHY THIS BELATED REVIEW? I feel very obliged t...  Price of GOLD is up, so don't bury the golden ...
2  I have an HP 48GX that has been kicking for mo...   Good functionality, but not durable like old HPs
3  I've started doing more finance stuff recently...       One of the last of an almost extinct species
4  For simple calculations and discounted cash fl...                                     Still the best

**Reading the first cell of the dataframe above**

In [0]:
sample = df2.loc[0].reviewText.strip()

**Removed leading whitespaces and found all words that dont start with b or end with g**

---

In [0]:
def bbeg(text):
  text = re.sub("'"," ",text)
  countb = (re.findall(r'\bb\w+',text,re.IGNORECASE))
  countg = (re.findall(r"\w+g\b",text,re.IGNORECASE))
  countbg = {'B':countb,'G':countg,'numB':len(countb),'numG':len(countg)}
  return countbg

In [10]:
df2['bbegText'] = df2['reviewText'].apply(bbeg)
df2['bbegSum'] = df2['summary'].apply(bbeg)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
df2['bbegText'][0]

{'B': ['bought',
  'but',
  'by',
  'buy',
  'but',
  'be',
  'but',
  'best',
  'be',
  'basic',
  'business',
  'be',
  'back',
  'batteries'],
 'G': ['travelling',
  '49G',
  '49G',
  '49G',
  '49G',
  'using',
  'looking',
  'running',
  '49G',
  'coming'],
 'numB': 14,
 'numG': 10}

In [0]:
def notbang(text):
  text = re.sub("'","",text)
  text = re.sub("[^a-zA-Z0-9]"," ",text)
  countb = re.findall(r"\b(?!b)\w+",text,re.IGNORECASE)
  countbg = [word for word in countb if word in re.findall(r"\w*(?<!g)\b",text,re.IGNORECASE)]          
  return countbg

In [0]:
df2['notbangText'] = df2['reviewText'].apply(notbang)
df2['notbangSum'] = df2['summary'].apply(notbang)

In [0]:
df2['notbangSum'][4],df2['summary'][4]