<a href="https://colab.research.google.com/github/reubence/NLP-COURSEWORK/blob/master/WordCountDict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lecture 1:** Create a column of dictionary which contains word count of two columns

In [0]:
import pandas as pd
import gzip

**Reading Dataset from link**

In [0]:
df = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz",lines=True)

**Viewing dataset to get an idea**

In [5]:
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

**Creating a new dataframe of the columns that we need to extract word count dictionary from**

In [0]:
df2 = df[['reviewText','summary']]

**Defining a function for counting number of words and storing them in a dictionary**

In [0]:
def wordCount(str):
  count=dict()
  words = str.lower().split()

  for i in words:
    if i in count:
      count[i]+=1
    else:
      count[i]=1
  return count

**Applying above function to our columns that we need to generate a count for**

In [32]:
df2.reviewText.apply(wordCount,1)

0        {'i': 7, 'bought': 1, 'my': 4, 'first': 1, 'hp...
1        {'why': 2, 'this': 13, 'belated': 1, 'review?'...
2        {'i': 2, 'have': 2, 'an': 2, 'hp': 3, '48gx': ...
3        {'i've': 4, 'started': 1, 'doing': 2, 'more': ...
4        {'for': 4, 'simple': 1, 'calculations': 2, 'an...
                               ...
53253    {'what': 1, 'i': 1, 'like': 1, 'about': 1, 'th...
53254    {'this': 6, 'accuteck': 2, 'shippro': 2, 'digi...
53255    {'i': 6, 'ship': 1, 'a': 10, 'lot': 1, 'of': 7...
53256    {'this': 2, 'is': 4, 'a': 5, 'great': 2, 'litt...
53257    {'when': 1, 'asked': 1, 'to': 9, 'review': 1, ...
Name: reviewText, Length: 53258, dtype: object

In [33]:
df2.summary.apply(wordCount,1)

0        {'a': 1, 'solid': 1, 'performer,': 1, 'and': 1...
1        {'price': 1, 'of': 1, 'gold': 1, 'is': 1, 'up,...
2        {'good': 1, 'functionality,': 1, 'but': 1, 'no...
3        {'one': 1, 'of': 2, 'the': 1, 'last': 1, 'an':...
4                        {'still': 1, 'the': 1, 'best': 1}
                               ...
53253    {'portable': 1, 'and': 1, 'very': 1, 'easy': 1...
53254    {'accuteck': 1, 'shippro': 1, 'digital': 1, 'p...
53255    {'extremely': 1, 'accurate,': 1, 'foolproof': ...
53256     {'fast,': 1, 'easy': 1, 'and': 1, 'accurate': 1}
53257    {'great': 1, 'value': 1, 'on': 1, 'a': 1, 'goo...
Name: summary, Length: 53258, dtype: object