<a href="https://colab.research.google.com/github/reubence/NLP-COURSEWORK/blob/master/VowelConsonant_regex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**NLP Lecture 2 (7-12-19):** grabbing words with vowels and consonants from the rows and adding it to a column, also eliminate stopwords and ignore whitespaces

In [0]:
import pandas as pd
import numpy as np

In [0]:
data = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz",lines=True)

In [0]:
data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
def counts(str):
  punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
  counts = dict()
  counts["total"] =0
  counts["vowels"] =0
  counts["consonants"] =0
  str = str.replace(" ", "")
  for word in str:
    if word in punctuations:
      str = str.replace(word, "")
  for word in str:
    counts["total"] +=1
    if word in ('a','e','i','o','u','A','E','I','O','U'):
      counts["vowels"] +=1
    else:
      counts["consonants"] +=1
  return counts

In [0]:
data["reviewText_count"] = data.apply(lambda row: counts(row.reviewText),axis=1)
data["summary_count"] = data.apply(lambda row: counts(row.summary),axis=1)

In [0]:
data.head()

       reviewerID  ...                                  summary_count
0  A32T2H8150OJLU  ...  {'total': 32, 'vowels': 12, 'consonants': 20}
1  A3MAFS04ZABRGO  ...  {'total': 47, 'vowels': 14, 'consonants': 33}
2  A1F1A0QQP2XVH5  ...  {'total': 40, 'vowels': 15, 'consonants': 25}
3   A49R5DBXXQDE5  ...  {'total': 36, 'vowels': 14, 'consonants': 22}
4  A2XRMQA6PJ5ZJ8  ...    {'total': 12, 'vowels': 3, 'consonants': 9}

[5 rows x 11 columns]

In [0]:
str = "Hello World!"

In [0]:
counts(str)

{'consonants': 7, 'total': 10, 'vowels': 3}

In [0]:
import re

In [0]:

def func(str):
  list = []
  list = re.findall(r"\b[bB]\w+|\b\w+[gG]\b", str)
  return list

In [0]:
data["reviewText_bg"] = data.apply(lambda row: func(row.reviewText),axis=1)
data["summary_bg"] = data.apply(lambda row: func(row.summary),axis=1)

**Final table which contains columns for vowels and consonants**

In [0]:
data.head()

       reviewerID  ... summary_bg
0  A32T2H8150OJLU  ...     [long]
1  A3MAFS04ZABRGO  ...     [bury]
2  A1F1A0QQP2XVH5  ...      [but]
3   A49R5DBXXQDE5  ...         []
4  A2XRMQA6PJ5ZJ8  ...     [best]

[5 rows x 13 columns]