<a href="https://colab.research.google.com/github/reubence/NLP-COURSEWORK/blob/master/WordCountDict_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lecture 2:** Create a column of dictionary which contains total word count of vowels and consonants

In [0]:
import pandas as pd
import gzip

**Reading Dataset from link**

In [0]:
df = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz",lines=True)

**Viewing dataset to get an idea**

In [5]:
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

**Creating a new dataframe of the columns that we need to extract word count dictionary from**

In [0]:
df2 = df[['reviewText','summary']]

In [19]:
df2.head()

                                          reviewText                                            summary
0  I bought my first HP12C in about 1984 or so, a...            A solid performer, and long time friend
1  WHY THIS BELATED REVIEW? I feel very obliged t...  Price of GOLD is up, so don't bury the golden ...
2  I have an HP 48GX that has been kicking for mo...   Good functionality, but not durable like old HPs
3  I've started doing more finance stuff recently...       One of the last of an almost extinct species
4  For simple calculations and discounted cash fl...                                     Still the best

**Defining a function for counting number of words and storing them in a dictionary**

In [0]:
def wordCount(str):
  count=dict()
  words = str.lower().split()

  for i in words:
    if i in count:
      count[i]+=1
    else:
      count[i]=1
  return count

**Applying above function to our columns that we need to generate a count for**

In [8]:
df2.reviewText.apply(wordCount,1)

0        {'i': 7, 'bought': 1, 'my': 4, 'first': 1, 'hp...
1        {'why': 2, 'this': 13, 'belated': 1, 'review?'...
2        {'i': 2, 'have': 2, 'an': 2, 'hp': 3, '48gx': ...
3        {'i've': 4, 'started': 1, 'doing': 2, 'more': ...
4        {'for': 4, 'simple': 1, 'calculations': 2, 'an...
                               ...
53253    {'what': 1, 'i': 1, 'like': 1, 'about': 1, 'th...
53254    {'this': 6, 'accuteck': 2, 'shippro': 2, 'digi...
53255    {'i': 6, 'ship': 1, 'a': 10, 'lot': 1, 'of': 7...
53256    {'this': 2, 'is': 4, 'a': 5, 'great': 2, 'litt...
53257    {'when': 1, 'asked': 1, 'to': 9, 'review': 1, ...
Name: reviewText, Length: 53258, dtype: object

In [9]:
df2.summary.apply(wordCount,1)

0        {'a': 1, 'solid': 1, 'performer,': 1, 'and': 1...
1        {'price': 1, 'of': 1, 'gold': 1, 'is': 1, 'up,...
2        {'good': 1, 'functionality,': 1, 'but': 1, 'no...
3        {'one': 1, 'of': 2, 'the': 1, 'last': 1, 'an':...
4                        {'still': 1, 'the': 1, 'best': 1}
                               ...
53253    {'portable': 1, 'and': 1, 'very': 1, 'easy': 1...
53254    {'accuteck': 1, 'shippro': 1, 'digital': 1, 'p...
53255    {'extremely': 1, 'accurate,': 1, 'foolproof': ...
53256     {'fast,': 1, 'easy': 1, 'and': 1, 'accurate': 1}
53257    {'great': 1, 'value': 1, 'on': 1, 'a': 1, 'goo...
Name: summary, Length: 53258, dtype: object

In [0]:
def vowelCount(str):
  vowels='aeiou'
  count={}.fromkeys(vowels,0)
  words = str.lower().split()
  totalCount=0
  for i in words:
    if i in count:
      count[i]+=1
      totalCount+=1
    else:
      count[i]=1
  return totalCount

In [24]:
df2.reviewText.apply(vowelCount,1)

0         69
1        499
2         33
3        279
4         36
        ...
53253     43
53254    232
53255    129
53256     50
53257    133
Name: reviewText, Length: 53258, dtype: int64

In [25]:
df2.summary.apply(vowelCount,1)

0        1
1        0
2        0
3        1
4        0
        ..
53253    0
53254    2
53255    0
53256    0
53257    1
Name: summary, Length: 53258, dtype: int64

In [0]:
def consonantCount(str):
  stopWord = ['.',',','!',':',';','/',' ? ' ]
  vowels='aeiou'
  count={}.fromkeys(vowels,0)
  words = str.lower().split()
  XtotalCount=0
  for i in words:
    if i in count:
      count[i]+=1     
    else if:
      count[i]=1
      if i not in stopWord:
        XtotalCount=+1
  return XtotalCount

In [43]:
df2.reviewText.apply(consonantCount,1)

0        1
1        1
2        1
3        1
4        1
        ..
53253    1
53254    1
53255    1
53256    1
53257    1
Name: reviewText, Length: 53258, dtype: int64

In [35]:
df2.summary.apply(consonantCount,1)

0         6
1        13
2         8
3         8
4         3
         ..
53253     6
53254    15
53255     5
53256     4
53257     6
Name: summary, Length: 53258, dtype: int64